<title>NodeJs Application</title>

<!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
	body {
		background-color: lavender;
	}

	.alert-fixed {
		position:fixed; 
		top: 0px; 
		left: 0px; 
		width: 100%;
		z-index:9999; 
		border-radius:0px
	}

	.center {
		margin: auto;
		width: 50%;
		padding: 10px;
	}
</style>
<% 
	if (locals.loggedUser) {
		var display = true;
		var homepage_link = "/home";
		var current_user = locals.loggedUser;
	} else {
		var display = false;
		var homepage_link = "/";
		var current_user = "Guest";
	}
%> 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	<a class="navbar-brand" href="<%= display ? homepage_link : homepage_link %>">Team 2</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarNavDropdown" class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="<%= display ? homepage_link : homepage_link %>">Home</a>
			</li>
			<%
				if(display) { %>
					<li class='nav-item active'><a class='nav-link' href='/posts'>Posts</a></li>
				<% }
			%>
			<li class="nav-item">
				<a class="nav-link active" href="about">About Us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="contact-us">Contact Us</a>
			</li>

		</ul>
		<ul class="navbar-nav">
			<li class="nav-item active">
				<div class="nav-link">Welcome <%= display ? current_user : current_user %></div>
			</li>
			<%
				if(display) { %>
					<li class='nav-item active'><a class='nav-link' href='/logout' id='logoutBtn' onclick='return confirm(\'Are you Sure to Logout ?\');'>Logout</a></li>
				<% } else { %>
					<li class='nav-item active'><a class='nav-link' href='/login'>Login</a></li><li class='nav-item active'><a class='nav-link' href='/register'>Register</a></li>
				<% }
			%>
		</ul>
	</div>
</nav>
<br>
<!-- <center>/ -->
	<div class="col-md-6 center">
		<% if (typeof successMsg != 'undefined' && successMsg) { %>
			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong><%- successMsg %></strong>
			</div>
		<% } else if(typeof errorMsg != 'undefined' && errorMsg) { %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong><%- errorMsg %></strong>
			</div>
		<% } %>
	</div>
<!-- </center> -->