<!DOCTYPE html>
<html>
<head>
	<title>INT Assignment</title>
</head>
<body>
	<div class="container">
	<% include ../includes/header %>
    <div class="col-md-6"  style="width:1000px; margin:0 auto;">
        <div class="card">
            <div class="card-header  bg-info text-white text-center">
                Contact Us
            </div>
            <div class="card-body">
                <form class="" action="check_contact_us.jsp" method="POST" onsubmit="return checkPassword();" >
                    <b>Name: </b><input type="text" name="name" required class="form-control col-md-6">
        
                    <b>Mobile Number: </b><input type="number" name="ph_no" id="ph_no" size="10" required class="form-control col-md-6">

                    <b>Email: </b><input type="email" name="email" required class="form-control col-md-6">
                    <b>Description: </b>
                    <textarea name="message" required class="form-control col-md-6"></textarea>
                   
                    <br>
                    <input type="submit" name="subBtn" value="Submit" class="btn btn-success">
                    <input type="reset" name="resetBtn" value="Reset" class="btn btn-danger">
                    <a href="/" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
		<br>
	</div>
</body>
</html>
