<html>
	<% include ../includes/header %>
	<body class="container">
	    <div >
	        <h1>This is great</h1>
	        <p>Welcome to templating using EJS</p>
 
	        <% if (rows.length > 0) { %>
				<% rows.forEach(function(rows) { %>
					<h6>name :<%=rows.username%>  </h6>
					<h6>pass : <%=rows.password%> </h6> <br>
		 		<% }); %>
			<% } %>
		       
			

	    </div>
	</body>
</html>